{% extends 'base.html' %}
{% load static %}

{% block title %}Meme Zone{% endblock title %}

{% block body %}


    <!-- Subheader Start -->
    <div class="subheader relative z-1" style="background-image: url(/static/assets/images/subheader.jpg);">
        <div class="container relative z-1">
            <div class="row">
                <div class="col-12">
                    <div class="page_breadcrumb">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Meme Gallery</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
            <img src="{% static 'assets/images/elements/element_19.png' %}" alt="element" class="element_1 slideRightTwo">
            <img src="{% static 'assets/images/elements/element_10.png' %}" alt="element" class="element_2 zoom-fade">
            <img src="{% static 'assets/images/elements/element_20.png' %}" alt="element" class="element_3 rotate_elem">
            <img src="{% static 'assets/images/elements/element_21.png' %}" alt="element" class="element_4 rotate_elem">
        </div>
    </div>
    <!-- Subheader End -->
    <!-- Section Start -->
    <div class="section-padding isotope-filter-items">
        <div class="container">
            <div class="col-lg-12 text-center">
                <button type="button" class="thm-btn bg-thm-color-three thm-color-three-shadow btn-rectangle" data-toggle="modal" data-target="#newMeme">UPLOAD <i class="fal fa-plus ml-2"></i></button>
            </div><br>

            
            <div class="row filteritems">
                <!-- Portfolio Start -->
                {% for meme in memes %}
                    <div class="col-lg-4 col-md-6 masonry-item lifestyle business health">
                        <div class="portfolio_box type_gallery type_masonry">
                            <div class="portfolio_img">
                                <img src="{{ meme.image.url }}" class="image-fit" alt="img">
                            </div>
                            <div class="link">
                                
                                {% if request.user == meme.user %}
                                  <a href="{% url 'memes:meme-delete' meme.pk %}"><i class="fal fa-trash"></i></a></i>
                                {% endif %}
                                    
                                <p>{{ meme.caption }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <!-- Portfolio End -->
                
            </div>
        </div>
    </div>
    <!-- Section End -->


    <!-- Modal -->
<div class="modal fade" id="newMeme" tabindex="-1" role="dialog" aria-labelledby="newMemeLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="newMemeLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="{% url 'memes:memes' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
            <div class="form-group">
                <label for="caption">caption</label>
                {{ form.caption }}
            </div>

            <div class="form-group">
                <label for="image">UPLOAD</label>
                {{ form.image }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
              </div>
          </form>
        </div>
       
      </div>
    </div>
  </div>
    

{% endblock body %}