{% extends 'base.html' %}
{% load static %}

{% block title %} Posts {% endblock title %}


{% block body %}

    <!-- Subheader Start -->
    <div class="subheader relative z-1" style="background-image: url(static/assets/images/subheader.jpg);">
        <div class="container relative z-1">
            <div class="row">
                <div class="col-12">
                    <h1 class="page_title">Blog Grid</h1>
                    <div class="page_breadcrumb">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Blog Grid</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
            <img src="{% static 'assets/images/elements/element_19.png' %}" alt="element" class="element_1 slideRightTwo">
            <img src="{% static 'assets/images/elements/element_10.png' %}" alt="element" class="element_2 zoom-fade">
            <img src="{% static 'assets/images/elements/element_20.png' %}" alt="element" class="element_3 rotate_elem">
            <img src="{% static 'assets/images/elements/element_21.png' %}" alt="element" class="element_4 rotate_elem">
        </div>
    </div>
    <!-- Subheader End -->
    <!-- Section Start -->
    <div class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mb-md-80">
                    <!-- post no thumb -->
                    <!-- Post Bg -->
                    <article class="post post_list style_2 with_bg" style="background-image: url(assets/images/blog/bg.jpg);">
                        <div class="post_caption">
                            <ul class="post_meta">
                                <li>
                                    <i class="fal fa-user"></i>
                                    Nichel Jhon
                                </li>
                                <li>
                                    <i class="fal fa-calendar-alt"></i>
                                    25 Mar 2021
                                </li>
                                <li>
                                    <i class="fal fa-comment-lines"></i>
                                    Comments (05)
                                </li>
                            </ul>
                            <h4 class="post_title">
                                <a href="blog-details.html">Postmortem Of Gutenberg The Launch So We Can Embrace Gutenberg The Product</a>
                            </h4>
                            <a href="blog-details.html" class="thm-btn bg-thm-color-two thm-color-one btn-rectangle">Read More <i class="fal fa-chevron-right ml-2"></i></a>
                        </div>
                    </article>
                    <!-- Post Bg -->
                    <!-- Pagination -->
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            <li class="page-item">
                                <a href="#" class="page-link">
                                    <i class="fal fa-chevron-left"></i>
                                </a>
                            </li>
                            <li class="page-item">
                                <a href="#" class="page-link">01</a>
                            </li>
                            <li class="page-item active">
                                <a href="#" class="page-link">02</a>
                            </li>
                            <li class="page-item">
                                <a href="#" class="page-link">03</a>
                            </li>
                            <li class="page-item">
                                <a href="#" class="page-link">
                                    <i class="fal fa-chevron-right"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <!-- Pagination -->
                </div>
                <div class="col-lg-4">
                    <div class="sidebar style_2">
                        <div class="sidebar_widget">
                            <form>
                                <div class="input-group search_widget">
                                    <input type="text" name="#" placeholder="Search" class="form-control" autocomplete="off">
                                    <div class="input-group-append ml-0">
                                        <button type="submit" class="thm-btn bg-thm-color-two thm-color-white thm-color-two-shadow btn-rectangle btn-small">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="sidebar_widget">
                            <h5 class="widget_title">Category</h5>
                            <ul class="category_widgets">
                                <li>
                                    <a href="blog-grid.html">Life Courses</a>
                                </li>
                                <li>
                                    <a href="blog-grid.html">Business Courses</a>
                                </li>
                                <li>
                                    <a href="blog-grid.html">Advance Wordpress</a>
                                </li>
                                <li>
                                    <a href="blog-grid.html">Basic HTML Coach</a>
                                </li>
                                <li>
                                    <a href="blog-grid.html">Health Courses</a>
                                </li>
                                <li>
                                    <a href="blog-grid.html">English Learning</a>
                                </li>
                            </ul>
                        </div>
                        <div class="sidebar_widget recent_widgets">
                            <h5 class="widget_title">Latest News</h5>
                            <ul>
                                <li>
                                    <div class="image">
                                        <img src="assets/images/blog/1.jpg" alt="img" class="image-fit">
                                    </div>
                                    <div class="text">
                                        <h6 class="mb-0">
                                            <a href="blog-details.html">Build Seamless Spreadshet Import Experience</a>
                                        </h6>
                                        <p class="mb-0"><strong><i class="fal fa-calendar-alt"></i> </strong><a href="blog-grid.html">25 May 2021</a></p>
                                    </div>
                                </li>
                                <li>
                                    <div class="image">
                                        <img src="assets/images/blog/2.jpg" alt="img" class="image-fit">
                                    </div>
                                    <div class="text">
                                        <h6 class="mb-0"><a href="blog-details.html">Creating Online Environme Work Well Older</a></h6>
                                        <p class="mb-0"><strong><i class="fal fa-calendar-alt"></i> </strong><a href="blog-grid.html">25 May 2021</a></p>
                                    </div>
                                </li>
                                <li>
                                    <div class="image">
                                        <img src="assets/images/blog/3.jpg" alt="img" class="image-fit">
                                    </div>
                                    <div class="text">
                                        <h6 class="mb-0"><a href="blog-details.html">Signs Website Feels More Haunted House</a></h6>
                                        <p class="mb-0"><strong><i class="fal fa-calendar-alt"></i> </strong><a href="blog-grid.html">25 May 2021</a></p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="sidebar_widget">
                            <a href="#" class="d-block">
                                <img src="assets/images/blog/adv.jpg" alt="adv" class="image-fit">
                            </a>
                        </div>
                        <div class="sidebar_widget">
                            <h5 class="widget_title">Popular Tags</h5>
                            <div class="tags">
                                <a href="blog-grid.html">Business</a>
                                <a href="blog-grid.html">Corporate</a>
                                <a href="blog-grid.html">HTML</a>
                                <a href="blog-grid.html">Art</a>
                                <a href="blog-grid.html">Finance</a>
                                <a href="blog-grid.html">Investment</a>
                                <a href="blog-grid.html">CSS</a>
                                <a href="blog-grid.html">Coach</a>
                                <a href="blog-grid.html">Planing</a>
                                <a href="blog-grid.html">Creative</a>
                                <a href="blog-grid.html">Health</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Section End -->

{% endblock body %}