{% extends 'base.html' %}
{% load static %}

{% block title %}FAQs{% endblock title %}

{% block body %}


    <!-- Subheader Start -->
    <div class="subheader relative z-1" style="background-image: url(/static/assets/images/subheader.jpg);">
        <div class="container relative z-1">
            <div class="row">
                <div class="col-12">
                    <h1 class="page_title">FAQ's</h1>
                    <div class="page_breadcrumb">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">FAQ's</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
            <img src="{% static 'assets/images/elements/element_19.png' %}" alt="element" class="element_1 slideRightTwo">
            <img src="{% static 'assets/images/elements/element_10.png' %}" alt="element" class="element_2 zoom-fade">
            <img src="{% static 'assets/images/elements/element_20.png' %}" alt="element" class="element_3 rotate_elem">
            <img src="{% static 'assets/images/elements/element_21.png' %}" alt="element" class="element_4 rotate_elem">
        </div>
    </div>
    <!-- Subheader End -->
    <!-- Faqs Start -->
    <div class="section-padding faqs_elements">
        <div class="container relative z-1">
            <div class="row justify-content-center">
                <div class="col-xl-9 col-lg-11">
                    <ul class="nav nav-tabs style_3">
                        <li class="nav-item">
                            <a href="#general" class="nav-link active" data-toggle="tab">General</a>
                        </li>
                        <li class="nav-item">
                            <a href="#allcoach" class="nav-link" data-toggle="tab">All Coach</a>
                        </li>
                        <li class="nav-item">
                            <a href="#advisors" class="nav-link" data-toggle="tab">Advisors</a>
                        </li>
                        <li class="nav-item">
                            <a href="#tutorials" class="nav-link" data-toggle="tab">Tutorials</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade active show" id="general">
                            <div class="accordion accordion-style style_2 mb-xl-30" id="generalaccordion">
                                <div class="card">
                                    <div class="card-header">
                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#GeneralItemOne" aria-expanded="true" aria-controls="GeneralItemOne">
                                            We Teach You How To Coach Yourself.
                                        </button>
                                    </div>
                                    <div id="GeneralItemOne" class="collapse show" aria-labelledby="GeneralItemOne" data-parent="#generalaccordion">
                                        <div class="card-body">
                                            Sed ut perspiciatis unde omnis iste natus error voluptatem accusantium doloremque laudantium totam rem aperiam eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam tatem quia voluptas sit aspernatur aut odit aut fugit sed quia consequuntur
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#GeneralItemTwo" aria-expanded="false" aria-controls="GeneralItemTwo">
                                            We Teach You How To Feel Better.
                                        </button>
                                    </div>
                                    <div id="GeneralItemTwo" class="collapse" aria-labelledby="GeneralItemTwo" data-parent="#generalaccordion">
                                        <div class="card-body">
                                            Sed ut perspiciatis unde omnis iste natus error voluptatem accusantium doloremque laudantium totam rem aperiam eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam tatem quia voluptas sit aspernatur aut odit aut fugit sed quia consequuntur
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#GeneralItemThree" aria-expanded="false" aria-controls="GeneralItemThree">
                                            We Teach You How To Take Massive Action.
                                        </button>
                                    </div>
                                    <div id="GeneralItemThree" class="collapse" aria-labelledby="GeneralItemThree" data-parent="#generalaccordion">
                                        <div class="card-body">
                                            Sed ut perspiciatis unde omnis iste natus error voluptatem accusantium doloremque laudantium totam rem aperiam eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam tatem quia voluptas sit aspernatur aut odit aut fugit sed quia consequuntur
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#GeneralItemFour" aria-expanded="false" aria-controls="GeneralItemFour">
                                            Be Less Frustrated By Learning Relationship Tools
                                        </button>
                                    </div>
                                    <div id="GeneralItemFour" class="collapse" aria-labelledby="GeneralItemFour" data-parent="#generalaccordion">
                                        <div class="card-body">
                                            Sed ut perspiciatis unde omnis iste natus error voluptatem accusantium doloremque laudantium totam rem aperiam eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam tatem quia voluptas sit aspernatur aut odit aut fugit sed quia consequuntur
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#GeneralItemFive" aria-expanded="false" aria-controls="GeneralItemFive">
                                            Motivate Yourself To Get More Done In Less Time
                                        </button>
                                    </div>
                                    <div id="GeneralItemFive" class="collapse" aria-labelledby="GeneralItemFive" data-parent="#generalaccordion">
                                        <div class="card-body">
                                            Sed ut perspiciatis unde omnis iste natus error voluptatem accusantium doloremque laudantium totam rem aperiam eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam tatem quia voluptas sit aspernatur aut odit aut fugit sed quia consequuntur
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#GeneralItemSix" aria-expanded="false" aria-controls="GeneralItemSix">
                                            Ease Anxiety, Stress, Worry, And Boredom
                                        </button>
                                    </div>
                                    <div id="GeneralItemSix" class="collapse" aria-labelledby="GeneralItemSix" data-parent="#generalaccordion">
                                        <div class="card-body">
                                            Sed ut perspiciatis unde omnis iste natus error voluptatem accusantium doloremque laudantium totam rem aperiam eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam tatem quia voluptas sit aspernatur aut odit aut fugit sed quia consequuntur
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#GeneralItemSeven" aria-expanded="false" aria-controls="GeneralItemSeven">
                                            Process Emotion And Create More Energy
                                        </button>
                                    </div>
                                    <div id="GeneralItemSeven" class="collapse" aria-labelledby="GeneralItemSeven" data-parent="#generalaccordion">
                                        <div class="card-body">
                                            Sed ut perspiciatis unde omnis iste natus error voluptatem accusantium doloremque laudantium totam rem aperiam eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam tatem quia voluptas sit aspernatur aut odit aut fugit sed quia consequuntur
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="allcoach">
                            <div class="accordion accordion-style style_2 mb-xl-30" id="allcoachaccordion">
                                <div class="card">
                                    <div class="card-header">
                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#AllCoachItemOne" aria-expanded="true" aria-controls="AllCoachItemOne">
                                            We Teach You How To Coach Yourself.
                                        </button>
                                    </div>
                                    <div id="AllCoachItemOne" class="collapse show" aria-labelledby="AllCoachItemOne" data-parent="#allcoachaccordion">
                                        <div class="card-body">
                                            Sed ut perspiciatis unde omnis iste natus error voluptatem accusantium doloremque laudantium totam rem aperiam eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam tatem quia voluptas sit aspernatur aut odit aut fugit sed quia consequuntur
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#AllCoachItemTwo" aria-expanded="false" aria-controls="AllCoachItemTwo">
                                            We Teach You How To Feel Better.
                                        </button>
                                    </div>
                                    <div id="AllCoachItemTwo" class="collapse" aria-labelledby="AllCoachItemTwo" data-parent="#allcoachaccordion">
                                        <div class="card-body">
                                            Sed ut perspiciatis unde omnis iste natus error voluptatem accusantium doloremque laudantium totam rem aperiam eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam tatem quia voluptas sit aspernatur aut odit aut fugit sed quia consequuntur
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#AllCoachItemThree" aria-expanded="false" aria-controls="AllCoachItemThree">
                                            We Teach You How To Take Massive Action.
                                        </button>
                                    </div>
                                    <div id="AllCoachItemThree" class="collapse" aria-labelledby="AllCoachItemThree" data-parent="#allcoachaccordion">
                                        <div class="card-body">
                                            Sed ut perspiciatis unde omnis iste natus error voluptatem accusantium doloremque laudantium totam rem aperiam eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam tatem quia voluptas sit aspernatur aut odit aut fugit sed quia consequuntur
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#AllCoachItemFour" aria-expanded="false" aria-controls="AllCoachItemFour">
                                            Be Less Frustrated By Learning Relationship Tools
                                        </button>
                                    </div>
                                    <div id="AllCoachItemFour" class="collapse" aria-labelledby="AllCoachItemFour" data-parent="#allcoachaccordion">
                                        <div class="card-body">
                                            Sed ut perspiciatis unde omnis iste natus error voluptatem accusantium doloremque laudantium totam rem aperiam eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam tatem quia voluptas sit aspernatur aut odit aut fugit sed quia consequuntur
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#AllCoachItemFive" aria-expanded="false" aria-controls="AllCoachItemFive">
                                            Motivate Yourself To Get More Done In Less Time
                                        </button>
                                    </div>
                                    <div id="AllCoachItemFive" class="collapse" aria-labelledby="AllCoachItemFive" data-parent="#allcoachaccordion">
                                        <div class="card-body">
                                            Sed ut perspiciatis unde omnis iste natus error voluptatem accusantium doloremque laudantium totam rem aperiam eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam tatem quia voluptas sit aspernatur aut odit aut fugit sed quia consequuntur
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#AllCoachItemSix" aria-expanded="false" aria-controls="AllCoachItemSix">
                                            Ease Anxiety, Stress, Worry, And Boredom
                                        </button>
                                    </div>
                                    <div id="AllCoachItemSix" class="collapse" aria-labelledby="AllCoachItemSix" data-parent="#allcoachaccordion">
                                        <div class="card-body">
                                            Sed ut perspiciatis unde omnis iste natus error voluptatem accusantium doloremque laudantium totam rem aperiam eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam tatem quia voluptas sit aspernatur aut odit aut fugit sed quia consequuntur
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#AllCoachItemSeven" aria-expanded="false" aria-controls="AllCoachItemSeven">
                                            Process Emotion And Create More Energy
                                        </button>
                                    </div>
                                    <div id="AllCoachItemSeven" class="collapse" aria-labelledby="AllCoachItemSeven" data-parent="#allcoachaccordion">
                                        <div class="card-body">
                                            Sed ut perspiciatis unde omnis iste natus error voluptatem accusantium doloremque laudantium totam rem aperiam eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam tatem quia voluptas sit aspernatur aut odit aut fugit sed quia consequuntur
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="advisors">
                            <div class="accordion accordion-style style_2 mb-xl-30" id="advisorsaccordion">
                                <div class="card">
                                    <div class="card-header">
                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#AdvisorsItemOne" aria-expanded="true" aria-controls="AdvisorsItemOne">
                                            We Teach You How To Coach Yourself.
                                        </button>
                                    </div>
                                    <div id="AdvisorsItemOne" class="collapse show" aria-labelledby="AdvisorsItemOne" data-parent="#advisorsaccordion">
                                        <div class="card-body">
                                            Sed ut perspiciatis unde omnis iste natus error voluptatem accusantium doloremque laudantium totam rem aperiam eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam tatem quia voluptas sit aspernatur aut odit aut fugit sed quia consequuntur
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#AdvisorsItemTwo" aria-expanded="false" aria-controls="AdvisorsItemTwo">
                                            We Teach You How To Feel Better.
                                        </button>
                                    </div>
                                    <div id="AdvisorsItemTwo" class="collapse" aria-labelledby="AdvisorsItemTwo" data-parent="#advisorsaccordion">
                                        <div class="card-body">
                                            Sed ut perspiciatis unde omnis iste natus error voluptatem accusantium doloremque laudantium totam rem aperiam eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam tatem quia voluptas sit aspernatur aut odit aut fugit sed quia consequuntur
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#AdvisorsItemThree" aria-expanded="false" aria-controls="AdvisorsItemThree">
                                            We Teach You How To Take Massive Action.
                                        </button>
                                    </div>
                                    <div id="AdvisorsItemThree" class="collapse" aria-labelledby="AdvisorsItemThree" data-parent="#advisorsaccordion">
                                        <div class="card-body">
                                            Sed ut perspiciatis unde omnis iste natus error voluptatem accusantium doloremque laudantium totam rem aperiam eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam tatem quia voluptas sit aspernatur aut odit aut fugit sed quia consequuntur
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#AdvisorsItemFour" aria-expanded="false" aria-controls="AdvisorsItemFour">
                                            Be Less Frustrated By Learning Relationship Tools
                                        </button>
                                    </div>
                                    <div id="AdvisorsItemFour" class="collapse" aria-labelledby="AdvisorsItemFour" data-parent="#advisorsaccordion">
                                        <div class="card-body">
                                            Sed ut perspiciatis unde omnis iste natus error voluptatem accusantium doloremque laudantium totam rem aperiam eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam tatem quia voluptas sit aspernatur aut odit aut fugit sed quia consequuntur
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#AdvisorsItemFive" aria-expanded="false" aria-controls="AdvisorsItemFive">
                                            Motivate Yourself To Get More Done In Less Time
                                        </button>
                                    </div>
                                    <div id="AdvisorsItemFive" class="collapse" aria-labelledby="AdvisorsItemFive" data-parent="#advisorsaccordion">
                                        <div class="card-body">
                                            Sed ut perspiciatis unde omnis iste natus error voluptatem accusantium doloremque laudantium totam rem aperiam eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam tatem quia voluptas sit aspernatur aut odit aut fugit sed quia consequuntur
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#AdvisorsItemSix" aria-expanded="false" aria-controls="AdvisorsItemSix">
                                            Ease Anxiety, Stress, Worry, And Boredom
                                        </button>
                                    </div>
                                    <div id="AdvisorsItemSix" class="collapse" aria-labelledby="AdvisorsItemSix" data-parent="#advisorsaccordion">
                                        <div class="card-body">
                                            Sed ut perspiciatis unde omnis iste natus error voluptatem accusantium doloremque laudantium totam rem aperiam eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam tatem quia voluptas sit aspernatur aut odit aut fugit sed quia consequuntur
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#AdvisorsItemSeven" aria-expanded="false" aria-controls="AdvisorsItemSeven">
                                            Process Emotion And Create More Energy
                                        </button>
                                    </div>
                                    <div id="AdvisorsItemSeven" class="collapse" aria-labelledby="AdvisorsItemSeven" data-parent="#advisorsaccordion">
                                        <div class="card-body">
                                            Sed ut perspiciatis unde omnis iste natus error voluptatem accusantium doloremque laudantium totam rem aperiam eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam tatem quia voluptas sit aspernatur aut odit aut fugit sed quia consequuntur
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tutorials">
                            <div class="accordion accordion-style style_2 mb-xl-30" id="tutorialsaccordion">
                                <div class="card">
                                    <div class="card-header">
                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#TutorialsItemOne" aria-expanded="true" aria-controls="TutorialsItemOne">
                                            We Teach You How To Coach Yourself.
                                        </button>
                                    </div>
                                    <div id="TutorialsItemOne" class="collapse show" aria-labelledby="TutorialsItemOne" data-parent="#tutorialsaccordion">
                                        <div class="card-body">
                                            Sed ut perspiciatis unde omnis iste natus error voluptatem accusantium doloremque laudantium totam rem aperiam eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam tatem quia voluptas sit aspernatur aut odit aut fugit sed quia consequuntur
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#TutorialsItemTwo" aria-expanded="false" aria-controls="TutorialsItemTwo">
                                            We Teach You How To Feel Better.
                                        </button>
                                    </div>
                                    <div id="TutorialsItemTwo" class="collapse" aria-labelledby="TutorialsItemTwo" data-parent="#tutorialsaccordion">
                                        <div class="card-body">
                                            Sed ut perspiciatis unde omnis iste natus error voluptatem accusantium doloremque laudantium totam rem aperiam eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam tatem quia voluptas sit aspernatur aut odit aut fugit sed quia consequuntur
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#TutorialsItemThree" aria-expanded="false" aria-controls="TutorialsItemThree">
                                            We Teach You How To Take Massive Action.
                                        </button>
                                    </div>
                                    <div id="TutorialsItemThree" class="collapse" aria-labelledby="TutorialsItemThree" data-parent="#tutorialsaccordion">
                                        <div class="card-body">
                                            Sed ut perspiciatis unde omnis iste natus error voluptatem accusantium doloremque laudantium totam rem aperiam eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam tatem quia voluptas sit aspernatur aut odit aut fugit sed quia consequuntur
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#TutorialsItemFour" aria-expanded="false" aria-controls="TutorialsItemFour">
                                            Be Less Frustrated By Learning Relationship Tools
                                        </button>
                                    </div>
                                    <div id="TutorialsItemFour" class="collapse" aria-labelledby="TutorialsItemFour" data-parent="#tutorialsaccordion">
                                        <div class="card-body">
                                            Sed ut perspiciatis unde omnis iste natus error voluptatem accusantium doloremque laudantium totam rem aperiam eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam tatem quia voluptas sit aspernatur aut odit aut fugit sed quia consequuntur
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#TutorialsItemFive" aria-expanded="false" aria-controls="TutorialsItemFive">
                                            Motivate Yourself To Get More Done In Less Time
                                        </button>
                                    </div>
                                    <div id="TutorialsItemFive" class="collapse" aria-labelledby="TutorialsItemFive" data-parent="#tutorialsaccordion">
                                        <div class="card-body">
                                            Sed ut perspiciatis unde omnis iste natus error voluptatem accusantium doloremque laudantium totam rem aperiam eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam tatem quia voluptas sit aspernatur aut odit aut fugit sed quia consequuntur
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#TutorialsItemSix" aria-expanded="false" aria-controls="TutorialsItemSix">
                                            Ease Anxiety, Stress, Worry, And Boredom
                                        </button>
                                    </div>
                                    <div id="TutorialsItemSix" class="collapse" aria-labelledby="TutorialsItemSix" data-parent="#tutorialsaccordion">
                                        <div class="card-body">
                                            Sed ut perspiciatis unde omnis iste natus error voluptatem accusantium doloremque laudantium totam rem aperiam eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam tatem quia voluptas sit aspernatur aut odit aut fugit sed quia consequuntur
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#TutorialsItemSeven" aria-expanded="false" aria-controls="TutorialsItemSeven">
                                            Process Emotion And Create More Energy
                                        </button>
                                    </div>
                                    <div id="TutorialsItemSeven" class="collapse" aria-labelledby="TutorialsItemSeven" data-parent="#tutorialsaccordion">
                                        <div class="card-body">
                                            Sed ut perspiciatis unde omnis iste natus error voluptatem accusantium doloremque laudantium totam rem aperiam eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam tatem quia voluptas sit aspernatur aut odit aut fugit sed quia consequuntur
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <img src="{% static 'assets/images/elements/element_10.png' %}" alt="element" class="element_1 zoom-fade">
            <img src="{% static 'assets/images/elements/element_35.png' %}" alt="element" class="element_2 zoom-fade">
            <img src="{% static 'assets/images/elements/element_36.png' %}" alt="element" class="element_3 rotate_elem">
            <img src="{% static 'assets/images/elements/element_37.png' %}" alt="element" class="element_4 rotate_elem">
            <img src="{% static 'assets/images/elements/element_38.png' %}" alt="element" class="element_5 rotate_elem">
        </div>
    </div>
    <!-- Faqs End -->
    <!-- Plane Start -->
    <div class="bg-thm-color-two plane_box relative z-1">
        <div class="container relative z-1">
            <div class="row justify-content-center">
                <div class="col-xl-9 col-lg-11 relative z-1">
                    <img src="{% static 'assets/images/elements/element_6.png"' %} class="element_1 rotate_elem" alt="Element">
                    <h2 class="thm-color-white">The Life Coach School Has The Most Amazing Tools And Cutting-Edge Training</h2>
                </div>
            </div>
            <img src="{% static 'assets/images/elements/element_7.png"' %} class="element_2 zoom-fade" alt="Element">
        </div>
    </div>
    <!-- Plane End -->
    <!-- Quote Form Start -->
    <section class="section-padding pb-0 section-bg quote_form_sec elements relative z-1" style="background-image: url(assets/images/bg/bg_7.jpg);">
        <div class="container relative z-1">
            <div class="row flex-lg-row-reverse align-items-end justify-content-between">
                <div class="col-xl-5 col-lg-6 mb-md-80">
                    <img src="{% static 'assets/images/quote_img.png' %}" alt="img" class="image-fit-contain">
                </div>
                <div class="col-lg-6">
                    <div class="quote_box">
                        <div class="section-title left-align white">
                            <p class="subtitle mb-4">
                                <i class="fal fa-book"></i>
                                Get In Touch
                            </p>
                            <h3 class="title">Do You Have Any Questions Get Free Quote</h3>
                        </div>
                        <form>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input type="text" name="#" class="form-control form-control-custom style_2" placeholder="Your Name" autocomplete="off"/>
                                        <i class="fal fa-user"></i>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input type="email" name="#" class="form-control form-control-custom style_2" placeholder="Email Address" autocomplete="off"/>
                                        <i class="fal fa-envelope"></i>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input type="text" name="#" class="form-control form-control-custom style_2" placeholder="Phone Number" autocomplete="off"/>
                                        <i class="fal fa-phone"></i>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <select class="form-control form-control-custom style_2" name="#">
                                            <option selected>Subject</option>
                                            <option value="option 1">Option 1</option>
                                            <option value="option 2">Option 2</option>
                                            <option value="option 3">Option 3</option>
                                        </select>
                                        <i class="fal fa-chevron-down"></i>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                    <textarea class="form-control form-control-custom style_2" placeholder="Write Message" rows="5"></textarea>
                                </div>
                                </div>
                                <div class="col-lg-12">
                                    <button type="submit" class="thm-btn bg-thm-color-three thm-color-three-shadow btn-rectangle">Send Message <i class="fal fa-chevron-right ml-2"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <img src="{% static 'assets/images/elements/element_39.png' %}" alt="element" class="element_1 rotate_elem">
            <img src="{% static 'assets/images/elements/element_40.png' %}" alt="element" class="element_2 zoom-fade">
            <img src="{% static 'assets/images/elements/element_41.png' %}" alt="element" class="element_3 rotate_elem">
            <img src="{% static 'assets/images/elements/element_42.png' %}" alt="element" class="element_4 rotate_elem">
        </div>
    </section>
    <!-- Quote Form End -->
    <!-- Portfolio Start -->
    <section class="section-padding">
        <div class="container">
            <div class="row align-items-end">
                <div class="col-lg-7">
                    <div class="section-title left-align">
                        <p class="subtitle">
                            <i class="fal fa-book"></i>
                            Project Gallery
                        </p>
                        <h3 class="title">We Have 34520+ Project Successfully Done</h3>
                    </div>
                </div>
                <div class="col-lg-5 text-left text-lg-right">
                    <a href="portfolio-grid.html" class="thm-btn bg-thm-color-white thm-color-one btn-border btn-rectangle mb-xl-60">
                        View All Project
                        <i class="fal fa-chevron-right ml-2"></i>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="portfolio_box">
                        <div class="portfolio_img">
                            <img src="{% static 'assets/images/portfolio/1.jpg' %}" class="image-fit" alt="img">
                        </div>
                        <div class="portfolio_caption">
                            <div class="text_box">
                                <h4 class="title mb-0">
                                    <a href="portfolio-details.html">How To Gain Knowledge</a>
                                </h4>
                                <p>Business Coach</p>
                            </div>
                            <div class="btn_box mb-xl-30">
                                <a href="portfolio-details.html" class="thm-btn bg-thm-color-two-light thm-color-two btn-rectangle btn-small"><i class="fal fa-chevron-right font-weight-bold"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="portfolio_box">
                        <div class="portfolio_img">
                            <img src="{% static 'assets/images/portfolio/2.jpg' %}" class="image-fit" alt="img">
                        </div>
                        <div class="portfolio_caption">
                            <div class="text_box">
                                <h4 class="title mb-0">
                                    <a href="portfolio-details.html">Online Consulting Tutorials</a>
                                </h4>
                                <p>Business Coach</p>
                            </div>
                            <div class="btn_box mb-xl-30">
                                <a href="portfolio-details.html" class="thm-btn bg-thm-color-two-light thm-color-two btn-rectangle btn-small"><i class="fal fa-chevron-right font-weight-bold"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Portfolio End -->

{% endblock body %}