{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}


{% block body %}



    <!-- Banner Start -->
    <div class="banner relative z-1">
        <img src="{% static 'assets/images/banner/element_1.png' %}" class="element_1" alt="Element">
        <img src="{% static 'assets/images/banner/element_line.png' %}" class="element_line" alt="Element Line">
        <!-- Texts -->
        <div class="transform-center">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="text_box">
                            <h1 class="title"><span>Well-Being</span> Club</h1>
                            <p>Sed ut perspiciatis unde omnis iste natus error voluptatem accan tium doloremque laudantium totam rem aperiam</p>
                            <a href="{% url 'tips:tip-list' %}" class="thm-btn bg-thm-color-two thm-color-two-shadow btn-rounded mr-4 mb-4">Get Health Tips <i class="fal fa-chevron-right ml-2"></i></a>
                            <a href="{% url 'videos:videos' %}" class="video_btn video_text mb-4">
                                <i class="fas fa-play video_icon bg-thm-color-three"></i>
                                <span>Watch Videos</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="image_box relative">
                            <img src="{% static 'assets/images/index/health-living.jpg' %}" alt="img" class="image-fit">
                            <span class="bg-thm-color-three circle_element"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bottom Line -->
        <div class="bottom-line container"></div>
    </div>
    <!-- Banner End -->
    <!-- Features Start -->
    <section class="section-padding">
        <div class="container">
            <div class="row">
                <!-- Feature Box Start -->
                <div class="col-lg-3 col-md-6">
                    <div class="features_box">
                        <h5>Health Tips</h5>
                        <p>Get health tips from our very able team to kepp you fit</p>
                        <a href="{% url 'tips:tip-list' %}">
                            <span>Read More</span>
                            <i class="fal fa-chevron-right"></i>
                        </a>
                    </div>
                </div>
                <!-- Feature Box End -->
                <!-- Feature Box Start -->
                <div class="col-lg-3 col-md-6">
                    <div class="features_box">
                        <h5>Health Stories</h5>
                        <p>Get and share health journeys from different users</p>
                        <a href="{% url 'blog:blog-list' %}">
                            <span>Read More</span>
                            <i class="fal fa-chevron-right"></i>
                        </a>
                    </div>
                </div>
                <!-- Feature Box End -->
                <!-- Feature Box Start -->
                <div class="col-lg-3 col-md-6">
                    <div class="features_box">
                        <h5>Videos</h5>
                        <p>Not only health video tutorials but also for fun</p>
                        <a href="{% url 'videos:videos' %}">
                            <span>Read More</span>
                            <i class="fal fa-chevron-right"></i>
                        </a>
                    </div>
                </div>
                <!-- Feature Box End -->
                <!-- Feature Box Start -->
                <div class="col-lg-3 col-md-6">
                    <div class="features_box">
                        <h5>Memes</h5>
                        <p>We ain't complete without some litle fun</p>
                        <a href="{% url 'memes:memes' %}">
                            <span>Read More</span>
                            <i class="fal fa-chevron-right"></i>
                        </a>
                    </div>
                </div>
                <!-- Feature Box End -->
            </div>
        </div>
    </section>
    <!-- Features End -->
    
    <!-- Video Start -->
    <section class="section-padding isotope-filter-items">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <p class="subtitle">
                            <i class="fal fa-book"></i>
                            Latest video gallery
                        </p>
                        <h3 class="title">Latest Health Videos</h3>
                    </div>
                </div>
            </div>
           
        
            <div class="row filteritems">
                {% for video in latest_videos %}
                    <!-- Box Start -->
                    <div class="col-xl-3 col-lg-4 col-md-6 masonry-item health lifestyle fashion">
                        <div class="video_box">
                        
                            <div class="video_badges">
                                <span class="tag_badge bg-thm-color-four">Free</span>
                            </div>
                            <a href="https://www.youtube.com/watch?v=TKnufs85hXk" class="popup-youtube video_btn">
                                <i class="fas fa-play"></i>
                            </a>
                            <div class="video_text">
                                <h6 class="text-white mb-0">How To Gain Knowledge</h6>
                                <p class="mb-0 thm-color-light">By Frank L. Pierce</p>
                            </div>
                        </div>
                    </div>
                    <!-- Box End -->
                {% endfor %}
                
            </div>
        </div>
    </section>
    <!-- Video End -->
   
    <!-- Coach Grid Start -->
    <section class="section-padding pt-0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <p class="subtitle">
                            <i class="fal fa-book"></i>
                            Latest Tips
                        </p>
                        <h3 class="title">Latest Health Tips</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                
                {% for tip in latest_tips %}

                    <!-- Coach block -->
                    <div class="col-xl-4 col-md-6">
                        <article class="post style_2">
                            <div class="post_caption">
                                <ul class="post_meta">
                                    <li>
                                        <i class="fal fa-calendar-alt"></i>
                                        {{ tip.pub_date | date:"d M Y" }}
                                    </li>
                                    <li>
                                        <i class="fal fa-comment-lines"></i>
                                        Comments ({{tip.get_tip_comments.count}})
                                    </li>
                                </ul>
                                <h4 class="post_title">
                                    <a href="{{blog.get_absolute_url}}">{{ tip.title }}</a>
                                </h4>
                                <p class="post_text">
                                    {{ tip.content | truncatechars:200 | safe }}
                                </p>
                                <a href="{{tip.get_absolute_url}}" class="thm-btn bg-thm-color-white thm-color-one btn-rectangle">Read More <i class="fal fa-chevron-right ml-2"></i></a>
                            </div>
                        </article>
                    </div>
                    <!-- Coach block -->
                
                
                {% endfor %}
                
            </div>
        </div>
    </section>
    <!-- Coach Grid End -->

    <!-- Coach Grid Start -->
    <section class="section-padding pt-0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <p class="subtitle">
                            <i class="fal fa-book"></i>
                            Latest Posts
                        </p>
                        <h3 class="title">Latest Posts</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                
                {% for blog in latest_blogs %}

                    <!-- Coach block -->
                    <div class="col-xl-4 col-md-6">
                        <article class="post style_2">
                            <div class="post_caption">
                                <ul class="post_meta">
                                    <li>
                                        <i class="fal fa-calendar-alt"></i>
                                        {{ blog.pub_date | date:"d M Y" }}
                                    </li>
                                    <li>
                                        <i class="fal fa-comment-lines"></i>
                                        Comments ({{blog.get_blog_comments.count}})
                                    </li>
                                </ul>
                                <h4 class="post_title">
                                    <a href="{{blog.get_absolute_url}}">{{ blog.title }}</a>
                                </h4>
                                <p class="post_text">
                                    {{ blog.content | truncatechars:100 | safe }}
                                </p>
                                <a href="{{blog.get_absolute_url}}" class="thm-btn bg-thm-color-white thm-color-one btn-rectangle">Read More <i class="fal fa-chevron-right ml-2"></i></a>
                            </div>
                        </article>
                    </div>
                    <!-- Coach block -->
                
                
                {% endfor %}
                
            </div>
        </div>
    </section>
    <!-- Coach Grid End -->
    <!-- Newsletter Start -->
    <section class="section bg-thm-color-two-gradient z-1 newsletter_form_sec">
        <img src="{% static 'assets/images/elements/element_1.png' %}" class="element_1" alt="Element">
        <img src="{% static 'assets/images/elements/element_2.png' %}" class="element_2" alt="Element">
        <div class="container relative z-1">
            <div class="arrows to_right slideRight">
                <div class="arrow"></div>
                <div class="arrow"></div>
                <div class="arrow"></div>
                <div class="arrow"></div>
                <div class="arrow"></div>
            </div>
            <div class="arrows to_up slideTop">
                <div class="arrow"></div>
                <div class="arrow"></div>
                <div class="arrow"></div>
                <div class="arrow"></div>
                <div class="arrow"></div>
            </div>
            <div class="row justify-content-center">
                <div class="col-xl-7 col-lg-8">
                    <div class="section-title mx-width-100">
                        <p class="subtitle">
                            <i class="fal fa-book"></i>
                            Our Newsletters
                        </p>
                        <h3 class="title">Get More Every Single Update To Join Our Newsletters</h3>
                    </div>
                </div>
                <div class="col-xl-8">
                    <div class="newsletter_form">
                        <form>
                            <div class="input-group">
                                <input type="email" class="form-control" placeholder="Enter Your Email" autocomplete="off" name="#">
                                <div class="input-group-append ml-0">
                                    <button type="submit" class="thm-btn bg-thm-color-three btn-rounded">
                                        Subscribe Now
                                        <i class="fal fa-chevron-right ml-2"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="condition" name="condition" checked>
                                <label class="custom-control-label" for="condition">Get Update Monthly Subscription</label>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Newsletter End -->

    <!-- Plane Start -->
    <div class="bg-thm-color-two plane_box relative z-1">
        <div class="container relative z-1">
            <div class="row justify-content-center">
                <div class="col-xl-9 col-lg-11 relative z-1">
                    <img src="{% static 'assets/images/elements/element_6.png' %}" class="element_1 rotate_elem" alt="Element">
                    <h2 class="thm-color-white">The WELL-BEING CLUB is full of fun and educative</h2>
                </div>
            </div>
            <img src="{% static 'assets/images/elements/element_7.png' %}" class="element_2 zoom-fade" alt="Element">
        </div>
    </div>
    <!-- Plane End -->

{% endblock body %}